# Terraform files
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfstate.*.backup
*.tfplan
*.tfvars
!*.tfvars.example

# Crash log files
crash.log
crash.*.log

# OS files
.DS_Store
Thumbs.db
.terraform/
